<div *ngIf="applicationNode" class="component">
    <div class="section">
        <ur-button 
        class="button" 
        [attr.data-testid]="'simple-websocket-connect_btn'"
        type="cta" (clicked)="connectToWebsocket()">
            Connect to Websocket
        </ur-button>
        &nbsp;
        <ur-button 
        class="button" 
        [attr.data-testid]="'simple-websocket-sendmsg_btn'"
        type="cta" (clicked)="sendMessage()">
            Send Message
        </ur-button>
    </div>
</div>