<div *ngIf="applicationNode" class="component">
    <div class="section">
        <p>Press the button twice to see the data sent to the backend, which is subsequently sent back to the
            frontend</p>
        <ur-button [attr.data-testid]="'xmlrpc-get-List-Of-Methods_btn'"
                   (handleClick)="getListOfMethods()">Get List of XML-RPC Methods
        </ur-button>
        <ur-button [attr.data-testid]="'xmlrpc-get-Method-Help_btn'"
                   (handleClick)="getMethodHelp()">Get Method Help
        </ur-button>
        <ur-button [attr.data-testid]="'xmlrpc-send-String_btn'"
                   (handleClick)="sendString()">Send String
        </ur-button>
        <ur-button [attr.data-testid]="'xmlrpc-send-Integer_btn'"
                   (handleClick)="sendInteger()">Send Integer
        </ur-button>
        <ur-button [attr.data-testid]="'xmlrpc-Struct-_btn'"
                   (handleClick)="sendStruct()">Send Struct
        </ur-button>
        <p>{{ response }}</p>
    </div>
</div>
